@if (skin(); as skin) {
  <app-skin-player [skin]="skin" [state]="state()" [celebrating]="celebrating()" />
} @else {
  <app-pimpek-drawing
    [state]="state()"
    [celebrating]="celebrating()"
    [items]="items()"
    [color]="color()"
  />
}

<div class="fx" aria-hidden="true">
  @switch (state()) {
    @case ('sleepy') {
      <span class="z">Z</span><span class="z">z</span><span class="z">z</span>
    }
    @case ('happy') {
      <span class="spark">✨</span><span class="spark">💙</span>
    }
  }
  @if (celebrating()) {
    @for (b of burst; track $index) {
      <span class="burst" [style.--angle]="b.angle + 'deg'">{{ b.icon }}</span>
    }
  }
</div>
