@if (skin(); as skin) {
  <app-skin-player
    [skin]="skin"
    [state]="state()"
    [celebrating]="cheering()"
    [reacting]="celebrating() && !cheering()"
    [gaze]="gaze()"
    [petted]="petted()"
    [tickled]="tickled()"
    [hugged]="hugged()"
  />
} @else {
  <app-pimpek-drawing
    [state]="state()"
    [celebrating]="celebrating()"
    [color]="color()"
    [gaze]="gaze()"
    [petted]="petted() || hugged()"
    [tickled]="tickled()"
  />
}

<div class="fx" aria-hidden="true">
  @switch (state()) {
    @case ('sleepy') {
      <span class="z">Z</span><span class="z">z</span><span class="z">z</span>
    }
    @case ('happy') {
      <span class="spark">✨</span><span class="spark">💙</span>
    }
  }
  @if (tickled()) {
    <span class="giggle">ha</span><span class="giggle">hi</span><span class="giggle">ha</span>
  }
  @if (skinTears()) {
    <span class="tear left">💧</span><span class="tear right">💧</span>
  }
  @if (cheering()) {
    @for (b of burst; track $index) {
      <span class="burst" [style.--angle]="b.angle + 'deg'">{{ b.icon }}</span>
    }
  }
</div>
